### Упражнение 1

* Скачайте с портала Открытых Данных производственный календарь России: https://data.gov.ru/opendata/7708660670-proizvcalendar
* На его основе определите соответствующий календарь в Pandas: `RussianBusinessCalendar(AbstractHolidayCalendar)`
* С помощью полученного в пункте выше календаря и модуля `pd.offsets` создайте DataFrame one-hot календарных признаков:
    * День недели
    * Месяц
    * Выходной день
    * Праздничный день
    * Предпраздничный рабочий день
    * Последний день месяца
    * Последний рабочий день месяца
    * Предновогодний выходной день

In [1]:
import datetime # для работы со временем 

import numpy as np # уже знакомые библиотеки
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, nearest_workday, EasterMonday
from pandas.tseries.offsets import DateOffset, Day

%matplotlib inline

In [2]:
calendar = pd.read_csv('data.csv')
calendar

,Год/Месяц,Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь,Всего рабочих дней,Всего праздничных и выходных дней,Количество рабочих часов при 40-часовой рабочей неделе,Количество рабочих часов при 36-часовой рабочей неделе,Количество рабочих часов при 24-часовой рабочей неделе
0,1999,"1,2,3,4,6*,7,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,24,25,30*","1,2,3,4,8,9,10,15,16,22,23,29,30","5,6,11*,12,13,14,19,20,26,27","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","2,3,9,10,16,17,23,24,30,31","6,7,8,13,14,20,21,27,28","4,5,11,12,13,18,19,25,26,31*",251,114,2004,1807.2,1204.8
1,2000,"1,2,3,4,6*,7,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","4,5,7*,8,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","1,2,6,7,8*,9,13,14,20,21,27,28","3,4,10,11,12,17,18,24,25","1,2,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,7,8,14,15,21,22,28,29","4,5,7,11,12,18,19,25,26","2,3,9,10,11*,12,16,17,23,24,30,31",250,116,1995,1800.0,1200.0
2,2001,"1,2,6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,24,25","3,4,7*,8,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29,30*","1,2,5,6,8*,9,12,13,19,20,26,27","2,3,9,10,11*,12,16,17,23,24,30","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,6*,7,10,11,17,18,24,25","1,2,8,9,12,15,16,22,23,29,30",251,114,2001,1807.2,1204.8
3,2002,"1,2,5,6,7,12,13,19,20,26,27","2,3,9,10,16,17,22*,23,24,25","2,3,7*,8,9,10,16,17,23,24,30,31","6,7,13,14,20,21,28,30*","1,2,3,4,5,8*,9,10,11,12,19,25,26","1,2,8,9,11*,12,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","5,6,12,13,19,20,26,27","2,3,6*,7,8,9,16,17,23,24,30","1,7,8,11*,12,13,14,21,22,28,29,31*",250,115,1992,1792.0,1192.0
4,2003,"1,2,3,5*,6,7,11,12,18,19,25,26","1,2,8,9,15,16,22,23,24","1,2,7*,8,9,10,15,16,22,23,29,30","5,6,12,13,19,20,26,27,30*","1,2,3,4,8*,9,10,11,17,18,24,25,31","1,7,8,11*,12,13,14,15,22,28,29","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","4,5,11,12,18,19,25,26","1,2,6*,7,8,9,15,16,22,23,29,30","6,7,11*,12,13,14,20,21,27,28,31*",250,115,1992,1792.0,1192.0
5,2004,"1,2,3,4,6*,7,10,11,17,18,24,25,31","1,7,8,14,15,21,22,23,28,29","6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,24,25,30*","1,2,3,4,8,9,10,15,16,22,23,29,30","5,6,11*,12,13,14,19,20,26,27","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","2,3,9,10,16,17,23,24,30,31","6,7,8,13,14,20,21,27,28","4,5,11,12,13,18,19,25,26,31*",251,115,2004,1803.2,1200.8
6,2005,"1,2,3,4,5,6,7,8,9,10,15,16,22,23,29,30","5,6,12,13,19,20,22*,23,26,27","5*,6,7,8,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,2,7,8,9,14,15,21,22,28,29","4,5,11,12,13,18,19,25,26","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25","1,2,8,9,15,16,22,23,29,30","3*,4,5,6,12,13,19,20,26,27","3,4,10,11,17,18,24,25,31",248,117,1981,1782.6,1187.4
7,2006,"1,2,3,4,5,6,7,8,9,14,15,21,22,28,29","4,5,11,12,18,19,22*,23,24,25","4,5,7*,8,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","1,6*,7,8,9,13,14,20,21,27,28","3,4,10,11,12,17,18,24,25","1,2,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,7,8,14,15,21,22,28,29","3*,4,5,6,11,12,18,19,25,26","2,3,9,10,16,17,23,24,30,31",248,117,1981,1782.6,1187.4
8,2007,"1,2,3,4,5,6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,22*,23,24,25","3,4,7*,8,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28*,29,30","1,5,6,8*,9,12,13,19,20,26,27","2,3,9*,10,11,12,16,17,23,24,30","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,5,10,11,17,18,24,25","1,2,8,9,15,16,22,23,29*,30,31",249,116,1986,1786.8,1189.2
9,2008,"1,2,3,4,5,6,7,8,12,13,19,20,26,27","2,3,9,10,16,17,22*,23,24,25","1,2,7*,8,9,10,15,16,22,23,29,30","5,6,12,13,19,20,26,27,30*","1,2,3,8*,9,10,11,17,18,24,25,31","1,8,11*,12,13,14,15,21,22,28,29","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","4,5,11,12,18,19,25,26","1*,2,3,4,8,9,15,16,22,23,29,30","6,7,13,14,20,21,27,28,31*",250,116,1993,1793.0,1193.0
10,2009,"1,2,3,4,5,6,7,8,9,10,17,18,24,25,31","1,7,8,14,15,21,22,23,28","1,7,8,9,14,15,21,22,28,29","4,5,11,12,18,19,25,26","1,2,3,8*,9,10,11,16,17,23,24,30,31","6,7,11*,12,13,14,20,21,27,28","4,5,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","3,4,10,11,17,18,24,25,31","1,3*,4,7,8,14,15,21,22,28,29","5,6,12,13,19,20,26,27,31*",249,116,1987,1787.8,1190.2
11,2010,"1,2,3,4,5,6,7,8,9,10,16,17,23,24,30,31","6,7,13,14,20,21,22,23,27*,28","6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,24,25,30*","1,2,3,8,9,10,15,16,22,23,29,30","5,6,11*,12,13,14,19,20,26,27","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","2,3,9,10,16,17,23,24,30,31","3*,4,5,6,7,14,20,21,27,28","4,5,11,12,18,19,25,26,31*",249,116,1987,1787.8,1190.2
12,2011,"1,2,3,4,5,6,7,8,9,10,15,16,22,23,29,30","5,6,12,13,19,20,22*,23,26,27","5*,6,7,8,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,2,7,8,9,14,15,21,22,28,29","4,5,11,12,13,18,19,25,26","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25","1,2,8,9,15,16,22,23,29,30","3*,4,5,6,12,13,19,20,26,27","3,4,10,11,17,18,24,25,31",248,117,1981,1782.6,1187.4
13,2012,"1,2,3,4,5,6,7,8,9,14,15,21,22,28,29","4,5,11,12,18,19,22*,23,25,26","3,4,7*,8,9,10,17,18,24,25,31","1,7,8,14,15,21,22,28*,29,30","1,6,7,8,9,12*,13,19,20,26,27","2,3,9*,10,11,12,16,17,23,24,30","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,5,10,11,17,18,24,25","1,2,8,9,15,16,22,23,29*,30,31",249,117,1986,1786.8,1189.2
14,2013,"1,2,3,4,5,6,7,8,12,13,19,20,26,27","2,3,9,10,16,17,22*,23,24","2,3,7*,8,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","1,2,3,4,5,8*,9,10,11,12,18,19,25,26","1,2,8,9,11*,12,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","5,6,12,13,19,20,26,27","2,3,4,9,10,16,17,23,24,30","1,7,8,14,15,21,22,28,29,31*",247,118,1970,1772.4,1179.6
15,2014,"1,2,3,4,5,6,7,8,11,12,18,19,25,26","1,2,8,9,15,16,22,23,24*","1,2,7*,8,9,10,15,16,22,23,29,30","5,6,12,13,19,20,26,27,30*","1,2,3,4,8*,9,10,11,17,18,24,25,31","1,7,8,11*,12,13,14,15,21,22,28,29","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","4,5,11,12,18,19,25,26","1,2,3,4,8,9,15,16,22,23,29,30","6,7,13,14,20,21,27,28",247,118,1970,1772.4,1179.6
16,2015,"1,2,3,4,5,6,7,8,9,10,11,17,18,24,25,31","1,7,8,14,15,21,22,23,28","1,7,8,9,14,15,21,22,28,29","4,5,11,12,18,19,25,26,30*","1,2,3,4,8*,9,10,11,16,17,23,24,30,31","6,7,11*,12,13,14,20,21,27,28","4,5,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","3,4,10,11,17,18,24,25,31","1,3*,4,7,8,14,15,21,22,28,29","5,6,12,13,19,20,26,27,31*",247,118,1971,1773.4,1180.6
17,2016,"1,2,3,4,5,6,7,8,9,10,16,17,23,24,30,31","6,7,13,14,20*,21,22,23,27,28","5,6,7,8,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,2,3,7,8,9,14,15,21,22,28,29","4,5,11,12,13,18,19,25,26","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25","1,2,8,9,15,16,22,23,29,30","3*,4,5,6,12,13,19,20,26,27","3,4,10,11,17,18,24,25,31",247,119,1974,1776.4,1183.6
18,2017,"1,2,3,4,5,6,7,8,14,15,21,22,28,29","4,5,11,12,18,19,22*,23,24,25,26","4,5,7*,8,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","1,6,7,8,9,13,14,20,21,27,28","3,4,10,11,12,17,18,24,25","1,2,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,7,8,14,15,21,22,28,29","3*,4,5,6,11,12,18,19,25,26","2,3,9,10,16,17,23,24,30,31",247,118,1973,1775.4,1182.6
19,2018,"1,2,3,4,5,6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,22*,23,24,25","3,4,7*,8,9,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28*,29,30","1,2,5,6,8*,9,12,13,19,20,26,27","2,3,9*,10,11,12,16,17,23,24,30","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,5,10,11,17,18,24,25","1,2,8,9,15,16,22,23,29*,30,31",247,118,1970,1772.4,1179.6
20,2019,"1,2,3,4,5,6,7,8,12,13,19,20,26,27","2,3,9,10,16,17,22*,23,24","2,3,7*,8,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28,30*","1,2,3,4,5,8*,9,10,11,12,18,19,25,26","1,2,8,9,11*,12,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","5,6,12,13,19,20,26,27","2,3,4,9,10,16,17,23,24,30","1,7,8,14,15,21,22,28,29,31*",247,118,1970,1772.4,1179.6
21,2020,"1,2,3,4,5,6,7,8,11,12,18,19,25,26","1,2,8,9,15,16,22,23,24+,29","1,7,8,9+,14,15,21,22,28,29","4,5,11,12,18,19,25,26,30*","1,2,3,4+,5+,8*,9,10,11+,16,17,23,24,30,31","6,7,11*,12,13,14,20,21,27,28","4,5,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","3,4,10,11,17,18,24,25,31","1,3*,4,7,8,14,15,21,22,28,29","5,6,12,13,19,20,26,27,31*",248,118,1979,1780.6,1185.4
22,2021,"1,2,3,4,5,6,7,8,9,10,16,17,23,24,30,31","6,7,13,14,20,21,22*,23,27,28","6,7,8*,13,14,20,21,27,28","3,4,10,11,17,18,24,25,30*","1,2,3+,8,9,10+,15,16,22,23,29,30","5,6,11*,12,13,14+,19,20,26,27","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","4,5,11,12,18,19,25,26","2,3,9,10,16,17,23,24,30,31","3*,4,6,7,13,14,20,21,27,28","4,5,11,12,18,19,25,26,31*",249,116,1987,1787.8,1190.2
23,2022,"1,2,3,4,5,6,7,8,9,15,16,22,23,29,30","5,6,12,13,19,20,22*,23,26,27","5,6,7*,8,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,2+,7,8,9,14,15,21,22,28,29","4,5,11,12,13+,18,19,25,26","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25","1,2,8,9,15,16,22,23,29,30","3*,4,5,6,12,13,19,20,26,27","3,4,10,11,17,18,24,25,31",249,116,1989,1789.8,1192.2
24,2023,"1,2,3,4,5,6,7,8,14,15,21,22,28,29","4,5,11,12,18,19,22*,23,25,26","4,5,7*,8,11,12,18,19,25,26","1,2,8,9,15,16,22,23,29,30","1,6,7,8*,9,13,14,20,21,27,28","3,4,10,11,12,17,18,24,25","1,2,8,9,15,16,22,23,29,30","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30","1,7,8,14,15,21,22,28,29","3*,4,5,6+,11,12,18,19,25,26","2,3,9,10,16,17,23,24,30,31",249,116,1988,1788.8,1191.6
25,2024,"1,2,3,4,5,6,7,8,13,14,20,21,27,28","3,4,10,11,17,18,22*,23,24,25","2,3,7*,8,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28,30*","1,4,5,8*,9,11,12,18,19,25,26","1,2,8,9,11*,12,15,16,22,23,29,30","6,7,13,14,20,21,27,28","3,4,10,11,17,18,24,25,31","1,7,8,14,15,21,22,28,29","5,6,12,13,19,20,26,27","2,3,4,9,10,16,17,23,24,30","1,7,8,14,15,21,22,28,29,31*",250,116,1994,1794.0,1194.0
26,2025,"1,2,3,4,5,6,7,8,11,12,18,19,25,26","1,2,8,9,15,16,22,23,24+","1,2,7*,8,9,10+,15,16,22,23,29,30","5,6,12,13,19,20,26,27,30*","1,3,4,8*,9,10,11,17,18,24,25,31","1,7,8,11*,12,14,15,21,22,28,29","5,6,12,13,19,20,26,27","2,3,9,10,16,17,23,24,30,31","6,7,13,14,20,21,27,28","4,5,11,12,18,19,25,26","1,2,3*,4,8,9,15,16,22,23,29,30","6,7,13,14,20,21,27,28,31*",249,116,1986,1786.8,1189.2

In [3]:
r1 = [] # выходные дни/праздничные дни
r2 = [] # предпраздничные дни
r3 = [] # перенесённый выходной день
for c in calendar.index:
    for m in range(1,13):
        z = calendar[calendar.columns[m]][c]
        z = z.replace(',', ' ')
        z = z.split()
        r1 += [datetime.datetime(calendar['Год/Месяц'][c], m, int(i)) for i in z if  i.isdecimal()]
        r2 += [datetime.datetime(calendar['Год/Месяц'][c], m, int(i.replace('*', '')))  for i in z if  i.find('*') > 0]
        r3 += [datetime.datetime(calendar['Год/Месяц'][c], m, int(i.replace('+', '')))  for i in z if  i.find('+') > 0]

In [4]:
start_date = datetime.datetime(1999, 1, 1)
end_date = datetime.datetime(2025, 12, 31)
class RussianBusinessCalendar(AbstractHolidayCalendar):
    start_date = datetime.datetime(1999, 1, 1)
    end_date = datetime.datetime(2025, 12, 31)
    rules = [Holiday('Рабочая суббота', month=3, day=8, year=2020, offset=Day(1))]

russian_busday = pd.offsets.CustomBusinessDay(holidays = r1, weekmask='Mon Tue Wed Thu Fri' ,
                                              calendar=RussianBusinessCalendar())
pre_holiday = pd.offsets.CustomBusinessDay(holidays = r2, weekmask='Mon Tue Wed Thu Fri' ,
                                              calendar=RussianBusinessCalendar())

In [5]:
r4 = [datetime.datetime(2026, 12, 1) - russian_busday] #последний рабочий день месяца
r5 = [datetime.datetime(2026, 12, 1) - 2*russian_busday] # предпоследний рабочий день месяца
for y in range(1999,2026):
    for m in range(1,13):
        r4 += [datetime.datetime(y, m, 1) -russian_busday]
        r5 += [datetime.datetime(y, m, 1) -2*russian_busday]

In [6]:
r6 = pd.date_range(start='2000-1-2', end='2000-1-1', freq='D') #пустой date_range, добавим в него предновогодние выходные
for y in range(2000,2027):
    st = datetime.datetime(y, 1, 1) - russian_busday + pd.Timedelta('1D')
    en = datetime.datetime(y, 1, 1) - pd.Timedelta('1D')
    r6 = r6.union(pd.date_range(start=st, end=en, freq='D'))

In [7]:
columns=['Выходной','Предпраздничный рабочий день']
week = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт','Сб','Вс']
months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
ts = pd.date_range(start='1999-01-01', end='2025-12-31', freq='D')
df = pd.DataFrame(index=ts, columns=columns)
df = df.fillna(0)
df.loc[df.index.isin(russian_busday.holidays),'Выходной']=1
df.loc[df.index.isin(pre_holiday.holidays),'Предпраздничный рабочий день']=1
df['Последний рабочий день мессяца'] = [int(i in r4) for i in df.index] 
df['Предпоследний рабочий день мессяца'] = [int(i in r5) for i in df.index] 
df['weekday'] = [i.weekday() for i in df.index]
for i in range(7):
    df[week[i]] = 0
    df.loc[df['weekday'] == i, week[i]] = 1
df.drop(['weekday'], axis = 1, inplace = True)
for i in range(12):
    df[months[i]] = 0
    df.loc[df.index.month == i+1, months[i]] = 1   
df['Предновогодний выходной день'] = [int(i in r6) for i in df.index]

In [8]:
df

,Выходной,Предпраздничный рабочий день,Последний рабочий день мессяца,Предпоследний рабочий день мессяца,Пн,Вт,Ср,Чт,Пт,Сб,...,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь,Предновогодний выходной день
1999-01-01,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1999-01-02,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1999-01-03,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999-01-04,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1999-01-05,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-12-27,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2025-12-28,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2025-12-29,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2025-12-30,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2025-12-31,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Упражнение 2

* Для временного ряда курса акций Сбербанка на основе производственного календаря России сформируйте DataFrame признаков:
    * Лаговые переменные рабочих дней с глубинами: 1, 3, 5
    * Скользящие статистики `['mean', 'median', 'max', 'min', 'std'] ` с окнами 1, 3, 5 сгрупированные по дням недели
    * Статистики `['mean', 'median', 'max', 'min', 'std'] ` в расширяющемся окне сгруппированные по рабочим, праздничным и предпраздничным дням

In [9]:
ts = pd.read_csv('../data/sber_stocks.csv', usecols=['CLOSE', 'TRADEDATE'], 
                 index_col='TRADEDATE', parse_dates=True).CLOSE
#ts.plot(figsize=(20, 10), grid=True, linewidth=3)

Лаговые переменные рабочих дней с глубинами: 1, 3, 5

In [10]:
l1 = pd.DataFrame(ts.shift(1, freq=russian_busday))
l3 = pd.DataFrame(ts.shift(3, freq=russian_busday))
l5 = pd.DataFrame(ts.shift(5, freq=russian_busday))
l1 = l1.merge(l3, how='outer' , left_index=True, right_index=True)
res = l1.merge(l5, how='outer' , left_index=True, right_index=True)
res.rename(columns={'CLOSE_x': 'Lag 1', 'CLOSE_y': 'Lag 3', 'CLOSE': 'Lag 5'}, inplace=True)
res

C:\Users\milgr\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:837: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  PerformanceWarning,

            Lag 1   Lag 3   Lag 5
TRADEDATE
2013-03-26  98.79     NaN     NaN
2013-03-27  97.20     NaN     NaN
2013-03-28  96.75   98.79     NaN
2013-03-29  98.59   97.20     NaN
2013-04-01  98.76   96.75   98.79
...           ...     ...     ...
2020-01-15    NaN  258.19  255.00
2020-01-15    NaN  258.19  253.90
2020-01-15    NaN  258.19  259.15
2020-01-16    NaN     NaN  257.99
2020-01-17    NaN     NaN  258.19

[1790 rows x 3 columns]

Скользящие статистики ['mean', 'median', 'max', 'min', 'std'] с окнами 1, 3, 5 сгрупированные по дням недели

In [15]:
ts = pd.DataFrame(ts)
ts['weekday'] = ts.index.weekday
s1 = ts.groupby('weekday').rolling(window=1).agg([np.mean, np.median, np.max, np.min, np.std]).CLOSE
s1.rename(columns={'mean': '1 mean', 'median': '1 median', 'amax': '1 max', 'amin': '1 min', 'std': '1 std'}, inplace=True)
s3 = ts.groupby('weekday').rolling(window=3).agg([np.mean, np.median, np.max, np.min, np.std]).CLOSE
s3.rename(columns={'mean': '3 mean', 'median': '3 median', 'amax': '3 max', 'amin': '3 min', 'std': '3 std'}, inplace=True)
s5 = ts.groupby('weekday').rolling(window=5).agg([np.mean, np.median, np.max, np.min, np.std]).CLOSE
s5.rename(columns={'mean': '5 mean', 'median': '5 median', 'amax': '5 max', 'amin': '5 min', 'std': '5 std'}, inplace=True)
s1 = s1.merge(s3, how='outer' , left_index=True, right_index=True)
s1 = s1.merge(s5, how='outer' , left_index=True, right_index=True)
s1

                    1 mean  1 median   1 max   1 min  1 std      3 mean  \
weekday TRADEDATE
0       2013-03-25   98.79     98.79   98.79   98.79    NaN         NaN
        2013-04-01   98.07     98.07   98.07   98.07    NaN         NaN
        2013-04-08  100.43    100.43  100.43  100.43    NaN   99.096667
        2013-04-15   95.48     95.48   95.48   95.48    NaN   97.993333
        2013-04-22   95.10     95.10   95.10   95.10    NaN   97.003333
...                    ...       ...     ...     ...    ...         ...
4       2020-01-10  258.19    258.19  258.19  258.19    NaN  255.083333
5       2016-02-20  102.39    102.39  102.39  102.39    NaN         NaN
        2018-04-28  224.80    224.80  224.80  224.80    NaN         NaN
        2018-06-09  212.60    212.60  212.60  212.60    NaN  179.930000
        2018-12-29  186.30    186.30  186.30  186.30    NaN  207.900000

                    3 median   3 max   3 min      3 std   5 mean  5 median  \
weekday TRADEDATE
0       2013-03-25       NaN     NaN     NaN        NaN      NaN       NaN
        2013-04-01       NaN     NaN     NaN        NaN      NaN       NaN
        2013-04-08     98.79  100.43   98.07   1.209518      NaN       NaN
        2013-04-15     98.07  100.43   95.48   2.475890      NaN       NaN
        2013-04-22     95.48  100.43   95.10   2.973657   97.574     98.07
...                      ...     ...     ...        ...      ...       ...
4       2020-01-10    255.00  258.19  252.06   3.065850  250.234    252.06
5       2016-02-20       NaN     NaN     NaN        NaN      NaN       NaN
        2018-04-28       NaN     NaN     NaN        NaN      NaN       NaN
        2018-06-09    212.60  224.80  102.39  67.428100      NaN       NaN
        2018-12-29    212.60  224.80  186.30  19.675619      NaN       NaN

                     5 max   5 min     5 std
weekday TRADEDATE
0       2013-03-25     NaN     NaN       NaN
        2013-04-01     NaN     NaN       NaN
        2013-04-08     NaN     NaN       NaN
        2013-04-15     NaN     NaN       NaN
        2013-04-22  100.43   95.10  2.257594
...                    ...     ...       ...
4       2020-01-10  258.19  241.21  7.093908
5       2016-02-20     NaN     NaN       NaN
        2018-04-28     NaN     NaN       NaN
        2018-06-09     NaN     NaN       NaN
        2018-12-29     NaN     NaN       NaN

[1712 rows x 15 columns]

Статистики ['mean', 'median', 'max', 'min', 'std'] в расширяющемся окне сгруппированные по рабочим, праздничным и предпраздничным дням

In [16]:
df['Тип дня'] = df['Предпраздничный рабочий день'] * 2 + df['Выходной']
cal = df.replace({'Тип дня' : { 0 : 'Рабочий день', 1 : 'Предпраздничный рабочий день', 2 : 'Выходной'}})['Тип дня']
cal = pd.DataFrame(cal)
rez = ts.merge(cal,  left_index=True, right_index=True)
rez = rez.groupby('Тип дня').rolling(window=5).agg([np.mean, np.median, np.max, np.min, np.std]).CLOSE
rez.head(50)

                                            mean  median    amax    amin  \
Тип дня
Выходной                     2013-05-08      NaN     NaN     NaN     NaN
                             2013-06-11      NaN     NaN     NaN     NaN
                             2014-02-24      NaN     NaN     NaN     NaN
                             2014-03-07      NaN     NaN     NaN     NaN
                             2014-04-30   89.538   94.69  105.81   72.50
                             2014-05-08   84.136   79.99   94.70   72.50
                             2014-06-11   82.996   79.99   94.69   72.50
                             2015-04-30   79.438   78.80   89.00   72.50
                             2015-05-08   78.540   76.90   89.00   72.50
                             2015-06-11   78.550   76.90   89.00   72.55
                             2015-11-03   81.870   76.90   95.40   72.55
                             2016-02-20   84.548   76.90  102.39   72.55
                             2016-11-03   97.718   95.40  142.75   72.55
                             2017-02-22  115.798  102.39  165.90   72.55
                             2017-03-07  133.484  142.75  165.90   95.40
                             2017-11-03  153.164  160.98  193.80  102.39
                             2018-02-22  188.184  165.90  277.49  142.75
                             2018-03-07  214.434  193.80  277.49  160.98
                             2018-04-28  226.214  224.80  277.49  160.98
                             2018-05-08  239.358  226.70  277.49  193.80
                             2018-06-09  243.118  226.70  277.49  212.60
                             2018-12-29  224.880  224.80  274.00  186.30
                             2019-02-22  211.130  212.60  226.70  186.30
                             2019-03-07  206.960  205.25  226.70  186.30
                             2019-04-30  206.654  205.25  225.17  186.30
                             2019-05-08  210.134  205.25  230.00  186.30
                             2019-06-11  220.052  225.17  235.89  203.95
Предпраздничный рабочий день 2013-05-02      NaN     NaN     NaN     NaN
                             2013-05-03      NaN     NaN     NaN     NaN
                             2013-05-10      NaN     NaN     NaN     NaN
                             2014-01-06      NaN     NaN     NaN     NaN
                             2014-01-08  100.928  100.84  103.78   98.19
                             2014-05-02   95.204   98.91  103.78   72.22
                             2014-11-03   89.878   98.19  103.78   72.22
                             2015-01-05   80.396   76.29   98.91   56.37
                             2015-01-06   72.270   72.22   98.19   56.37
                             2015-01-08   65.772   65.70   76.29   56.37
                             2015-01-09   63.948   63.10   76.29   56.37
                             2016-01-04   68.292   63.10   98.01   56.37
                             2016-01-05   76.796   65.70   98.89   58.28
                             2016-01-06   84.510   96.85   98.89   63.10
                             2016-02-22   92.010   98.01  103.20   63.10
                             2016-03-07  101.284   98.89  109.47   96.85
                             2017-01-03  117.706  103.20  180.12   96.85
                             2017-01-04  133.118  109.47  180.12   96.85
                             2017-01-05  148.128  171.90  180.12  103.20
                             2017-01-06  161.626  171.90  180.12  109.47
                             2017-02-24  172.834  171.90  180.12  165.51
                             2018-01-03  183.190  171.90  231.90  165.51
                             2018-01-04  195.760  171.90  238.80  165.51

                                               std
Тип дня
Выходной                     2013-05-08        NaN
                             2013-06-11        NaN
                             2014-02-24        NaN
                             2014-03-07        NaN
                             2014-04-30  13.223323
                             2014-05-08  10.050419
                             2014-06-11   8.797814
                             2015-04-30   6.056420
                             2015-05-08   6.282754
                             2015-06-11   6.270766
                             2015-11-03   9.823925
                             2016-02-20  13.420256
                             2016-11-03  28.205272
                             2017-02-22  37.758652
                             2017-03-07  32.824967
                             2017-11-03  33.767701
                             2018-02-22  53.169502
                             2018-03-07  57.364642
                             2018-04-28  50.549163
                             2018-05-08  35.713475
                             2018-06-09  30.296784
                             2018-12-29  31.840650
                             2019-02-22  16.451125
                             2019-03-07  14.665410
                             2019-04-30  14.157730
                             2019-05-08  17.683991
                             2019-06-11  14.614825
Предпраздничный рабочий день 2013-05-02        NaN
                             2013-05-03        NaN
                             2013-05-10        NaN
                             2014-01-06        NaN
                             2014-01-08   2.433037
                             2014-05-02  13.076690
                             2014-11-03  14.494574
                             2015-01-05  18.168307
                             2015-01-06  16.856300
                             2015-01-08   8.613041
                             2015-01-09   7.836866
                             2016-01-04  17.023580
                             2016-01-05  19.948199
                             2016-01-06  18.395069
                             2016-02-22  16.338331
                             2016-03-07   5.167018
                             2017-01-03  35.223493
                             2017-01-04  41.271814
                             2017-01-05  38.326316
                             2017-01-06  29.390324
                             2017-02-24   5.520537
                             2018-01-03  27.483532
                             2018-01-04  36.302232